<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
        </Console>
        <SplunkHttp
                name="splunkhttp"
                url="http://localhost:8088"
                token="bf1b38e4-6f68-486c-afd1-956b88d4b7e9"
                index="emerge_index"
                messageFormat="text"
                disableCertificateValidation="true">
            <PatternLayout pattern="%m" />
        </SplunkHttp>


    </Appenders>

    <Loggers>
        <Logger name="com.example.demo" additivity="false" level="trace">
            <AppenderRef ref="console"/>
            <AppenderRef ref="splunkhttp"/>

        </Logger>
        <Root level="error">
            <AppenderRef ref="console"/>
            <AppenderRef ref="splunkhttp"/>

        </Root>
    </Loggers>
</Configuration>
